img{
    width: 10vw;
}

/* Styla stora divs; främst för position */
.headerdiv{

}

.buttondiv{
    background: bisque;
    width: fit-content;
    height: fit-content;
    margin: 1vh auto 1vh auto;
}

.columndiv{

}

/* korta klasser för att styra vilken typ av flexbox en div är */
.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

/* Style för knappar */
.button {
    display: inline-block;
    padding: 1.5vh 2vw;
    margin: 2vh 2vw;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #15bcf8;
    color: #FFFFFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  /* Ge feedback när användare pekar på en knapp */
  .button:hover {
    background-color: #1c91ea;
  }
  
  /* Ge återigen feedback när användare klickar */
  .button:active {
    background-color: #096e8a;
  }